<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections></configSections>
	<connectionStrings>
		<add name="connStr"
			 connectionString="Data Source=.;Initial Catalog=PersonManagement;User ID=sa;Password=1302"
			 providerName ="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>